body {
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
    background-color: #b18585;
    color: #333;
    background-image: url('https://www.example.com/your-background-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #b18585;
    padding: 30px 0;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

#about-me {
    padding: 60px 0;
    background: rgba(255, 255, 255, 0.8);
}

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.personal-info {
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #333;
}

.bio {
    padding: 10px;
}

#tech-stack {
    padding: 60px 0;
    background-color: #fff;
}

.tech-icons i {
    margin: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.tech-icons i:hover {
    color: #b18585;
}

#projects {
    padding: 60px 0;
    background-color: #fff;
}

#projects h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    text-align: center;
}

.project {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.project:hover {
    background-color: #e0e0e0;
    transform: translateY(-10px);
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.project p {
    font-size: 1.1em;
}

#contact {
    padding: 60px 0;
    background-color: #333;
    color: #b18585;
}

#contact h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-container p {
    font-size: 1.2em;
    text-align: center;
}

footer {
    background-color: #333;
    color: #b18585;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .tech-icons i {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    .profile-pic {
        width: 120px;
        height: 120px;
    }

    .tech-icons i {
        font-size: 1.5em;
    }
}

@media (max-width: 320px) {
    .profile-pic {
        width: 100px;
        height: 100px;
    }
    
    .tech-icons i {
        font-size: 1.2em;
    }
}
